<div class="container" (mousemove)="onMouseMove($event)">
  <div class="layout">
    <header>
      <div class="logo">SCh</div>
      <nav>
        <a>About Me</a>
        <a>Contact Me</a>
        <a>Portfolio</a>
      </nav>
    </header>

    <main>
      <app-main></app-main>
    </main>

    <footer></footer>
  </div>

  <app-soc-media></app-soc-media>

  <i
    class="background-icon"
    *ngFor='let iconConfig of iconConfigs'
    nz-icon
    [nzType]="iconConfig.icon"
    nzTheme="outline"
    appBackgroundIcon
    [config]='iconConfig'
  ></i>
</div>
