:host {
  .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;

    &_hey {
      font-size: 35px;
      line-height: 35px;
      font-family: var(--spartan-font);
      font-weight: 600;
    }

    &_name {
      font-size: 65px;
      line-height: 65px;
      font-family: var(--spartan-font);
      font-weight: 700;
    }

    &_info {
      display: flex;
      align-items: flex-start;
      gap: 5px;
      margin-bottom: 10px;
      font-size: 22px;
      font-family: var(--lato-font);
      font-weight: 300;
      letter-spacing: 2px;
    }

    &_job {
      font-weight: 800;
    }
  }
}
