@import '~ng-zorro-antd/ng-zorro-antd.min.css';

:root {
  --dark-color: #1c1d25;
  --light-color: #ebebeb;
  --button-color: #e24728;
  --nav-color: #b0b2c3;
  --secondary-color: #e24728;

  --spartan-font: 'League Spartan', sans-serif;
  --lato-font: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 0;
}
